body h2 {
    text-align: center;
}

fieldset {
    margin: auto;
    width: 42%;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

input,
textarea {
    display: block;
    width: 100%;
}

input.radio {
    width: unset;
    display: inline-block;
    margin-right: 8px;
}

input#submit {
    width: 42%;
    margin: auto;
}

label {
    cursor: pointer;
}