div {
    background: #009670;
    width: 300px;
    height: 300px;
    padding: 8px;
}

h1 {
    color: white;
    /*text shadow: (left-right) (top-bottom) (blur-level) (spread-amount) (color-code)*/
    text-shadow: 20px 20px 10px 5px black;
}