article {
    width: 800px;
    height: 400px;
    background: gray;
    display: flex;
}

section {
    width: 100px;
    height: 100px;
    margin: 10px;
    background: white;
}

.one {
    order: 1;
    flex-grow: 1;
}

.two {
    order: 1;
    flex-grow: 2;
}