#control {
    background-color: rgb(122, 45, 17);
    padding: 5px;
    width: 80px;
    height: 80px;
    margin: 5px;
    position: absolute;
    z-index: 0;
}

#control1 {
    background-color: coral;
    padding: 5px;
    width: 180px;
    height: 180px;
    margin: 5px;
    position: absolute;
    top: 20px;
    z-index: 1;
}