a {
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
    border: 1px solid red;
    padding: 5px;
}

a:link {
    color: red;
}

a:active {
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    color: yellow;
}